@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
<div class="col-12">

  <img src="~/images/puppies.png" class="img-fluid" alt="">
</div>


</div>
<div class="text-center">

    
  
    
</div>
