@page
@model IndexModel
@{
    ViewData["Title"] = "Mascota Feliz";
    
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="images/icologo.png">

</head>
<div class="text-center">
    <h1 class="display-4">Bienvenido a la mascota Feliz</h1>
</div>
