@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="images/icologo.png">
</head>
<div class="row">
    <div class="col-12">

        <img src="~/images/puppies.png" class="img-fluid" alt="">
    </div>
</div>
