@page
@model MascotaFeliz.App.Frontend.Pages.EditarMascotaModel
@{
    int mascotaId = Model.mascota.Id;
}
<h1 class="heading" style="text-align: center">Registrar y Actualizar Mascota</h1>
<div class="one_quarter">

    <p class="nospace btmspace-15" style="    text-align: center;">Por favor digite datos de la mascota</p>
    <form class="form-group" method="post" style=" margin: 45px 500px -29px 86px; position: absolute; ">
        <fieldset>

            <input asp-for="mascota.Id" type="hidden">
            <input asp-for="mascota.Nombre" class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Nombre" asp-for="mascota.Nombre">
            <br>
            <input asp-for="mascota.Color" class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Color" asp-for="mascota.Color">
            <br>
            <input class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Especie" asp-for="mascota.Especie">
            <br>
            <input class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Raza" asp-for="mascota.Raza">
            <br>
            <select class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                height="56px" width="80px" asp-for="mascota.Dueno">
                <option>Seleccione el propietario de la mascota </option>

            </select>
            <br>
            <select class="btmspace-15 form-control" height="50px"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text" value=""
                height="20px" name="favoriteOnly" id="favoriteOnl" asp-for="mascota.Veterinario">
                <option>Seleccione el veterinario de la mascota</option>
                <option></option>
            </select>
            <br>
            <button class="btn btn-primary" height="40px" type="submit">Guardar</button>

        </fieldset>
        <a asp-page="./ListaMascotas" class="btn-default">Lista de Mascotas</a>
    </form>
    
    <div class="one_quarter last">
        <img style="margin-top: 0%;     margin-left: 52%" src="~/images/dogcat1.png" alt="">
    </div>
</div>