@page
@model MascotaFeliz.App.Frontend.Pages.EditarMascotaModel
@{
    int idMascota  = Model.mascota.Id;
}
<h1 class="heading" style="color: white;">Registro Mascota</h1>
<div class="one_quarter">
    
    <p class="nospace btmspace-15" style="color: white;">Por favor digite datos de la mascota</p>
    <form class="form-group" method="post">
        <fieldset>
            <input type="hidden" asp-for = "mascota.Id">            
            <input class="btmspace-15 form-control" 
            style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8"
            type="text" value="" placeholder="Nombre" asp-for = "mascota.Nombre">
            <br>
            <input class="btmspace-15 form-control" 
            style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8"
            type="text" value="" placeholder="Color" asp-for = "mascota.Color">
            <br>
            <input class="btmspace-15 form-control" 
            style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8"
            type="text" value="" placeholder="Especie" asp-for = "mascota.Especie">
            <br>
            <input class="btmspace-15 form-control" 
            style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8"
            type="text" value="" placeholder="Raza" asp-for = "mascota.Raza" >
            <br>
            <select class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8"
                type="text" value="" name="favoriteOnly" height="56px" width="80px"
                asp-for = "mascota.Dueno">
                <option>Seleccione el propietario de la mascota </option>          
                
            </select>
            <br>
            <select class="btmspace-15 form-control" height="50px"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8"
                type="text" value="" height="20px" name="favoriteOnly" id="favoriteOnl"
                asp-for="mascota.Veterinario">
                <option>Seleccione el veterinario de la mascota</option>
                <option></option>                
            </select>
            <br>
            <button class="btn btn-primary" height="20px" type="submit" value="submit">Guardar</button>
            
        </fieldset>
    </form>
    <div class="one_quarter last">
        <img style="margin-top: 5%" src="...\...\wwwroot\image\dogcat1.png'" alt="">
      </div>
</div>